.hero {
  position: relative;
  width: 100%;
  min-width: 0;
  height: calc(100vh - 12px);
  @supports (height:100svh) {
    height: calc(100svh - 12px);
  }
  border-radius: 8px;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.crumbs {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: min(1200px, 100%);
  z-index: 3;
  text-align: center;
}

.crumbs :where(a, span) {
  color: rgba(255, 255, 255, .95);
}

.crumbs a {
  text-decoration: none;
}

.inner {
  position: relative;
  z-index: 2;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;

  padding: 24px;
  padding-top: calc(96px + env(safe-area-inset-top));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
  text-align: center;
}

.title {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.6px;
}

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-content: flex-start;
  max-width: 100%;
  flex-wrap: wrap;
}

.tagItem {
  min-width: 0;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 12px 16px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.14px;
  text-decoration: none;
  white-space: nowrap;
  transition: transform .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;

  &:hover {
    background: rgba(255, 255, 255, .12);
    border-color: rgba(255, 255, 255, .6);
  }

  &.active {
    background: #fff;
    border-radius: 4px;
    color: #222;
  }
}

@media (max-width: 768px) {
  .hero {
    height: calc(100vh - (var(--header-h, 68px) + var(--header-py, 20px) + var(--main-mobile-pb, 4px)));
    @supports (height: 100svh) {
      height: calc(100svh - (var(--header-h, 68px) + var(--header-py, 20px) + var(--main-mobile-pb, 4px)));
    }
  }
  .crumbs {
    margin-bottom: 16px;
    margin-left: -10px;
    position: relative;
    left: unset;
    top: unset;
    transform: none;
    text-align: left;
    width: 100%;
  }
  .inner {
    align-items: flex-start;
    text-align: left;
    padding: 48px 16px;
    gap: 24px;
  }
  .title {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 106%;
    letter-spacing: -0.4px;
    text-align: left;
  }
  .tags {
    justify-content: flex-start;
    gap: 12px 16px;
  }
  .tag {
    font-size: 15px;
    padding: 9px 12px;
  }
}
