.title {
  margin-bottom: 40px;
  color: #111;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.36px;
}

.container {
  margin-bottom: 60px;
  padding-right: 48px;
}

.wrap {
  display: grid;
  gap: 28px;
}

.row {
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent, black 6%, black 94%, transparent);
  mask-image: linear-gradient(to right, transparent, black 6%, black 94%, transparent);
}

.marquee {
  --gap: 16px;
  display: flex;
  gap: var(--gap);
  user-select: none;
}

.content {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  will-change: transform;
  animation: scroll var(--duration, 30s) linear infinite;
  transform: translate3d(0, 0, 0);
}

/* направление */
.left .content {
  animation-name: scroll-left;
}

.right .content {
  animation-name: scroll-right;
}

/* элемент */
.item {
  list-style: none;
  flex: 0 0 auto;
  height: var(--h);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 96px;
}

.item img {
  display: block;
  height: 100%;
  width: auto;
  filter: grayscale(1) contrast(0.9);
  opacity: 0.9;
}

.mobileOnly {
  display: none;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 28px;
    color: #111;
    font-size: 28px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.28px;
  }
  .container {
    padding: 40px 16px;
    margin-bottom: 60px;

  }
  .wrap {
    gap: 4px;
  }
  .marquee {
    --h: 44px;
  }
  .mobileOnly {
    display: block;
  }

  .item {
    min-height: 58px;

    img {

    }
  }
}

@keyframes scroll-left {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-100% - var(--gap)), 0, 0);
  }
}

@keyframes scroll-right {
  from {
    transform: translate3d(calc(-100% - var(--gap)), 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/* уважаем reduced-motion */
@media (prefers-reduced-motion: reduce) {
  .content {
    animation: none;
    transform: none;
  }
}
